.checkpoint-card {
  background-color: #f5ba13;
  color: white;
  max-width: 500px;
}

.checkpoint-card > p {
  text-align: center;
}

.checkpoint-card > ul {
  width: 100%;
  margin-left: 32px;
  cursor: pointer;
}

.checkpoint-card > ul > li {
  padding: 5px;
}

.checkpoint-card > ul > li:hover {
  background-color: #eee;
  color: #f5ba13;
}
