:root {
  --primary-color: #7979fe;
  --secondary-color: white;
  --textColor: white;
  --background-color: #eee;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "McLaren", cursive;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: var(--background-color);
  height: 100vh;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

input {
  padding: 12px 16px;
  font-size: 16px;
  border: none;
  border-radius: 6;
  border-bottom: 3px solid var(--primary-color);
  outline: none;
}

textarea {
  padding: 12px 16px;
  font-size: 16px;
  border: none;
  border-radius: 6;
  border-bottom: 3px solid var(--primary-color);
  outline: none;
  resize: none;
  width: 100%;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background-color: var(--primary-color);
  color: var(--textColor);
  cursor: pointer;
  transition: all 0.25s;
}

.button-reverse {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.5;
}

.iconButton {
  border-radius: 50%;
  width: 42px;
  height: 42px;
}

.card {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  column-gap: 16px;
  border-radius: 8px;
  padding: 16px;
  background-color: var(--secondary-color);
  box-shadow: 1px 3px 5px var(--background-color);
  transition: all 0.25s;
}

.card:hover {
  box-shadow: 1px 3px 20px #ccc;
}

.secondary-card {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  max-width: 500px;
}

.secondary-card > p {
  text-align: center;
}

.secondary-card > ul {
  width: 100%;
  cursor: pointer;
}

.secondary-card > ul > li {
  padding: 8px;
  margin: 0px 24px;
  border-radius: 8px;
}

.secondary-card > ul > li:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.todo-list-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 16px;
  padding: 16px;
}

.todo-title,
.todo-description {
  text-align: center;
  cursor: default;
}

.todo-title {
  font-size: 18px;
  font-weight: 700;
}

.todo-description {
  font-size: 14px;
  font-weight: 100;
}

.auth-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-text {
  color: red;
  text-align: center;
}

.cut-text {
  text-decoration: line-through;
}
