* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "McLaren", cursive;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #eee;
  height: 100vh;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  padding: 16px 32px;
  background-color: #f5ba13;
}

header > h1 {
  color: white;
  font-weight: 400;
}

footer {
  text-align: center;
  width: 100%;
  padding: 16px;
  background-color: #f5ba13;
  color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

input {
  padding: 12px 16px;
  font-size: 16px;
  border: none;
  border-radius: 6;
  border-bottom: 3px solid #f5ba13;
  outline: none;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background-color: #f5ba13;
  color: white;
  cursor: pointer;
  transition: all 0.25s;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.5;
}

.iconButton {
  border-radius: 50%;
  width: 42px;
  height: 42px;
}

.card {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  column-gap: 16px;
  border-radius: 8px;
  padding: 16px;
  background-color: white;
  box-shadow: 1px 3px 5px #ccc;
  transition: all 0.25s;
}

.card:hover {
  box-shadow: 1px 3px 20px #ccc;
}

.todo-list-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 16px;
  padding: 16px;
}

.input-container {
  display: flex;
  justify-content: center;
  padding: 8px;
}

.todo-title,
.todo-description {
  text-align: center;
  cursor: default;
}

.todo-title {
  font-size: 18px;
  font-weight: 700;
}

.todo-description {
  font-size: 14px;
  font-weight: 100;
}

.auth-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-text {
  color: red;
  text-align: center;
}
