header {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  column-gap: 16px;

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  padding: 16px 32px;
  background-color: var(--primary-color);
}

header > h1 {
  color: var(--textColor);
  font-weight: 400;
}

header > ul {
  flex: 1;
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  justify-content: end;
}

header > ul > a {
  padding: 8px;
  border-radius: 8px;
  text-decoration: none;
  list-style-type: none;
  color: var(--textColor);
  transition: all 0.3s;
}

header > ul > a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

header > ul > a:active {
  opacity: 0.8;
}

.active {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.logout-btn {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

footer {
  text-align: center;
  width: 100%;
  padding: 16px;
  background-color: var(--primary-color);
  color: var(--textColor);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
